<div>
    <nav>
        <ul>
            <li routerLink="/login" routerLinkActive="active" *ngIf="!loggedIn"><a routerLink="/login" routerLinkActive="active">Login</a></li>
            <li routerLink="/sign-up" routerLinkActive="active" *ngIf="!loggedIn"><a routerLink="/sign-up" routerLinkActive="active">Sign-up</a></li>
            <li routerLink="/users" routerLinkActive="active" *ngIf="loggedIn"><a routerLink="/users" routerLinkActive="active">Usuários</a></li>
            <li routerLink="/my-datas" routerLinkActive="active" *ngIf="loggedIn"><a routerLink="/my-datas" routerLinkActive="active">Meus Dados</a></li>
            <li routerLink="/logout" routerLinkActive="active" *ngIf="loggedIn"><a routerLink="/logout" routerLinkActive="active">logout</a></li>
        </ul>
    </nav>
</div>