nav {
    margin-right: 10px;
}

ul {
    width: 100%;

    list-style: none;

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

li {
    padding: 0 5px;
}

a {
    text-decoration: none;

    color: rgb(204, 204, 204);

    user-select: none;
    padding: 15px;

    font-size: 1.2rem;
    font-weight: bolder;
}

a.active {
    color: white;
}

li.active{
    padding-bottom: 10px;
    border-bottom: 4px solid rgb(71, 157, 255);
}