.container {
    border-radius: 10px;

    background-color: rgb(119, 119, 119);

    box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.2);
}

.my-datas {
    background-color: #f2f2f2;

    border-radius: 10px;

    margin: 40px 30px;

    padding: 30px 100px 0  100px;

    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
}

.user-name {
    color: #424242;
    
    font-size: 1.5rem;
    font-weight: bolder;
}

.user-email {
    color: #818181;

    font-size: 1.3rem;
    font-weight: bolder;
}

button {
    background-color: rgb(255, 166, 50);
    
    margin-top: 0;

    font-size: 1.3rem;

}

button:hover {
    background-color: rgb(255, 166, 75);
}

button:active {
    background-color: rgb(255, 153, 40);
}