<main>
    <div class="container">
        <div class="content"*ngIf="isLogged">
            <div class="title">
                <h2>Meus Dados</h2>
            </div>
            <div class="my-datas" *ngIf="myDatas">
                <span class="user-name">{{myDatas.name}}</span>
                <span class="user-email">{{myDatas.email}}</span>
                <button class="update" routerLink="/my-datas/update">Update</button>
            </div>
        </div>
    </div>
</main>