header{
    width: 100%;
    
    background-color: rgb(73, 73, 73);

    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
}

.logo{
    height: 80px;
    padding: 10px;

    font-size: 1.3rem;

    color: #f2f2f2;

    cursor: default;

    user-select: none;

    display: flex;
    align-items: flex-end;
}