<main>
    <div class="formContainer">
        <form (ngSubmit)="signUpUser(signUpForm)" #signUpForm="ngForm">
            <div class="formTitle">
                <h2>Sign-up</h2>
            </div>
            <div class="inputs">
                <input type="text" name="name" placeholder="Nome" required ngModel>
                <input type="email" name="email" placeholder="Email" required ngModel>
                <input type="password" name="password" placeholder="Senha" required ngModel>
            </div>

            <button type="submit">Criar</button>
        </form>
    </div>
</main>