<main>
    <div class="formContainer">
        <form (ngSubmit)="authenticate(loginForm)" #loginForm="ngForm">
            <div class="formTitle">
                <h2>Login</h2>
            </div>
            <div class="inputs">
                <input type="email" name="email" placeholder="Email" required ngModel>
                <input type="password" name="password" placeholder="Senha" required ngModel>
            </div>

            <button type="submit">Entrar</button>
        </form>
    </div>
</main>