.container {

    max-width: 70vw;

    width: 100%;

    border-radius: 10px;

    background-color: rgb(119, 119, 119);

    box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.2);
}

.content {
    max-height: 60vh;
}

ul {

    margin-top: 20px;
    margin-bottom: 40px;

    width: 100%;

    overflow-y: auto;

    border-radius: 10px;

    display: flex;
    gap: 25px;
    flex-direction: column;
    align-items: center;
}

li {

    background-color: #f2f2f2;

    width: 90%;

    padding: 15px;

    border-radius: 10px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

li div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user-name {
    color: #424242;

    font-size: 1.3rem;
    font-weight: bolder;
}

.user-email {
    color: #818181;

    font-size: 1.2rem;
    font-weight: bolder;
}

button {
    background-color: rgb(255, 74, 67);

    font-size: 1.1rem;

    margin: 0;

    width: 100px;
}

button:hover {
    background-color: rgb(255, 88, 82);
}

button:active {
    background-color: rgb(255, 57, 50);
}

ul::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
}

ul::-webkit-scrollbar-track {
    background: rgb(119, 119, 119);
    border-radius: 20px;
    /* color of the tracking area */
}

ul::-webkit-scrollbar-thumb {
    background-color: rgb(156, 156, 156);
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid rgb(119, 119, 119);
    /* creates padding around scroll thumb */
}