<main>
    <div class="container">
        <div class="content" *ngIf="users">
            <div class="title">
                <h2>Usuarios Cadastrados</h2>
            </div>
            <ul>
                <li *ngFor="let user of users">
                    <div>
                        <span class="user-name">{{user.name}}</span>
                        <span class="user-email">{{user.email}}</span>
                    </div>
                    <button class="delete" (click)="deleteUser(user.id)">Deletar</button> 
                </li>
            </ul>
        </div>
    </div>
</main>