/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    max-height: 100vh;
    background-color: rgb(240, 240, 240);
}

main {
    width: 100%;

    margin-top: 10vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.formContainer{
    width: 460px;

    border-radius: 10px;

    background-color: rgb(119, 119, 119);

    box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.2);
}

form, .content{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.title, .formTitle{
    margin-top: 15px;

    color: #ffffff;

    font-size: 2.3rem;
}

.inputs{
    display: flex;
    flex-direction: column;

    margin-top: 60px;

    gap: 25px;
}

.inputs input{
    width: 400px;

    border-radius: 5px;
    
    border: none;
    
    padding: 10px;
    
    font-size: 1.5rem;
    font-weight: bolder;
    outline: none;
    color: rgb(82, 82, 82);
}

button{
    width: 160px;
    
    font-size: 1.5rem;
    font-weight: bolder;

    padding: 8px;

    margin-bottom: 30px;
    margin-top: 40px;

    border-radius: 5px;
    border: none;

    background-color: rgb(70, 150, 255);
    color: #f2f2f2;
    
    transition-duration: 0.5s;
}

button:hover{
    background-color: rgb(83, 158, 255);

    cursor: pointer;
}

button:active{
    background-color: rgb(56, 142, 255);
    transition-duration: 0s;

}