<main>
    <div class="formContainer">
        <form (ngSubmit)="updateMyDatas(updateForm)" #updateForm="ngForm">
            <div class="formTitle">
                <h2>Update</h2>
            </div>
            <div class="inputs">
                
                <input type="text" name="name" placeholder="Nome" ngModel>
                <input type="email" name="email" placeholder="Email" ngModel>
                <input type="password" name="password" placeholder="Senha" ngModel>
            </div>

            <button type="submit">Atualizar</button>
        </form>
    </div>
</main>